#dataSerializationContenido {
    font-family: arial, sans-serif;
    font-size: 11pt;
}

#dataSerializationContenido textarea {
    width: 800px;
    height: 200px;
}
#dataSerializationContenido .buttons {
    margin: 20px 0;
  }

 #dataSerializationContenido .buttons input {
    padding: 10px;
  }