<mat-toolbar>
  <button mat-button>
    <a class="nav-link" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
  </button>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-button>
    <a class="nav-link" routerLink="/basic_usage">
      Uso basico
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/interaction">
      Interacción
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/editing">
      Edicion
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/items">
      Items
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/groups">
      Grupos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/styling">
      Estilos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/data_handling">
      Manejo de datos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/other">
      Otros
    </a>
  </button>
</mat-toolbar>