<mat-toolbar>
  <button mat-button>
    <a class="nav-link" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
  </button>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-button>
    <a class="nav-link" routerLink="/basic_usage">
      Uso basico
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/interaction">
      Interacción
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/editing">
      Edicion
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/items">
      Items
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/groups">
      Grupos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/styling">
      Estilos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/data_handling">
      Manejo de datos
    </a>
  </button>
  <button mat-button>
    <a class="nav-link" routerLink="/other">
      Otros
    </a>
  </button>
</mat-toolbar>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex="5%" fxFlexOffset.xs="0" style="background-color: yellow; border-radius: 5px 10px; text-align: center; height: 50px;">
    <button mat-button>
      <a class="nav-link" routerLink="/">
        <mat-icon>home</mat-icon>
      </a>
    </button>
  </div>
  <div class="item item-5" fxFlex="95%" style="background-color: blue; border-radius: 5px 10px; text-align: center;">
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/basic_usage">
        Uso basico
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/interaction">
        Interacción
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/editing">
        Edicion
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/items">
        Items
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/groups">
        Grupos
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/styling">
        Estilos
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/data_handling">
        Manejo de datos
      </a>
    </button>
    <button mat-button fxFlex="12%">
      <a class="nav-link" routerLink="/other">
        Otros
      </a>
    </button>
  </div>
</div>