#axisOrientationContenido{
  font-family: sans-serif;
  /*background-color: red;*/
}

#customCssContenido{
  font-family:  purisa, 'comic sans', cursive;
  /*background-color: blue;*/
}

/* TEST PARA CUSTOMCSS */
#customCssContenido .vis-timeline {
  border: 2px solid purple;
  font-family:  purisa, 'comic sans', cursive;
  font-size: 12pt;
  background: #ffecea;
}
#customCssContenido .vis-item {
  border-color: #F991A3;
  background-color: pink;
  font-size: 15pt;
  color: purple;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}
#customCssContenido .vis-item, .vis-item.vis-line {
  border-width: 3px;
}
#customCssContenido .vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}
#customCssContenido .vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}
#customCssContenido .vis-time-axis {
  color: purple;
  padding-top: 10px;
  padding-left: 10px;
}
#customCssContenido .vis-text {
  color: purple;
  padding-top: 10px;
  padding-left: 10px;
}
#customCssContenido .vis-time-axis {
  font-weight: bold;
}
#customCssContenido .vis-text.vis-major {
  font-weight: bold;
}
#customCssContenido .vis-time-axis {
  border-width: 2px;
  border-color: pink;
}
#customCssContenido .vis-grid.vis-minor{
  border-width: 2px;
  border-color: pink;
}
#customCssContenido .vis-time-axis {
  border-width: 2px;
  border-color: #F991A3;
}
#customCssContenido .vis-grid.vis-major{
  border-width: 2px;
  border-color: #F991A3;
}
/* FIN TEST PARA CUSTOM CSS */

#itemClassNamesContenido{
  font: 12pt verdana;
  /*background-color: yellow;*/
}
/* TEST PARA ITEMCLASSNAMES */
#itemClassNamesContenido .vis-item.green {
  background-color: greenyellow;
  border-color: green;
}
#itemClassNamesContenido .vis-item.red {
  background-color: red;
  border-color: darkred;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
#itemClassNamesContenido .vis-item.vis-dot.red {
  border-radius: 10px;
  border-width: 10px;
}
#itemClassNamesContenido .vis-item.vis-line.red {
  border-width: 5px;
}
#itemClassNamesContenido .vis-item.vis-box.red {
  border-radius: 0;
  border-width: 2px;
  font-size: 24pt;
  font-weight: bold;
}
#itemClassNamesContenido .vis-item.orange {
  background-color: gold;
  border-color: orange;
}
#itemClassNamesContenido .vis-item.vis-selected.orange {
  background-color: orange;
  border-color: orangered;
}
#itemClassNamesContenido .vis-item.magenta {
  background-color: magenta;
  border-color: purple;
  color: white;
}
#itemClassNamesContenido .vis-item.vis-selected {
  background-color: white;
  border-color: black;
  color: black;
  box-shadow: 0 0 10px gray;
}
/* FIN TEST PARA ITEMCLASSNAMES */