/* editingItems */
#editingItemsContenido{
  font-family: arial, sans-serif;
  font-size: 11pt;
}

/* individualEditableItems */
#individualEditableItemsContenido{
  font-family: arial, sans-serif;
  font-size: 11pt;
}

/* overrideEditingItems */
#overrideEditingItemsContenido{
    font-family: arial, sans-serif;
    font-size: 11pt;
}

/* updateDataOnEvent */
#updateDataOnEventContenido{
    font: 11pt verdana;
}
#updateDataOnEventContenido .vis.timeline .item.past {
    filter: alpha(opacity=50);
    opacity: 0.5;
}